#Imports

In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

from sklearn.datasets import load_iris

### Load the dataset

In [37]:
data = load_iris()
#data

In [38]:
data_df = pd.DataFrame(data['data'], columns=data['feature_names'])
data_df['species'] = data['target']
data_df.shape
data_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [42]:
features_columns = ['sepal length (cm)','sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
features= data_df.loc[:, features_columns].values #convert to numpy array
features.shape

(150, 4)

In [43]:
y = data_df.loc[:, ['species']].values  #convert to numpy array

In [44]:
y.shape

(150, 1)